<ul *ngIf="projects.length > 0" class="task-viewer">
  <ng-container *ngFor="let task of tasks">
    <li
      class="list-item"
      (click)="onClick(task)"
      [class.completed]="task?.status === 'completed'"
      [class.due-soon]="isDueSoon(task?.dueDate)"
      [class.overdue]="isOverdue(task?.dueDate)"
    >
      <span class="projectName"
        >Project: {{ getProjectName(task.projectId) }}</span
      ><br />
      <strong>{{ task?.title }}</strong>
      <span *ngIf="task?.dueDate">
        - Due: {{ task?.dueDate | date : "shortDate" }}</span
      >
    </li>
  </ng-container>
</ul>

<div *ngIf="projects?.length === 0">Loading projects...</div>
