<!--Component that handles display and interaction with tasks-->
<ul class="task-viewer">
  <ng-container *ngFor="let task of tasks">
    <li
      (click)="onClick(task)"
      [class.completed]="task?.status === 'completed'"
      [class.due-soon]="isDueSoon(task?.dueDate)"
      [class.overdue]="isOverdue(task?.dueDate)"
    >
      <span class="projectId">Project ID: {{ task?.projectId }}</span>
      {{ task?.title }}
      <span *ngIf="task?.dueDate">
        - Due: {{ task?.dueDate | date : "shortDate" }}
      </span>
    </li>
  </ng-container>
</ul>
