<h2>Task List:</h2>

<!--All filters, inline-->
<div class="filters">
  <label>
    Status:
    <select [(ngModel)]="filterStatus">
      <option value="">All</option>
      <option value="not-started">Not Started</option>
      <option value="in-progress">In Progress</option>
      <option value="completed">Completed</option>
    </select>
  </label>

  <label>
    Priority:
    <select [(ngModel)]="filterPriority">
      <option value="">All</option>
      <option value="low">Low</option>
      <option value="medium">Medium</option>
      <option value="high">High</option>
    </select>
  </label>

  <label>
    Task ID:
    <input type="number" class="filter-input" [(ngModel)]="filterTaskId" />
  </label>

  <label>
    Project ID:
    <input type="number" class="filter-input" [(ngModel)]="filterProjectId" />
  </label>

  <label>
    Task Title:
    <input type="text" [(ngModel)]="filterTitle" />
  </label>
  <button (click)="clearFilters()">Clear Filters</button>
</div>
<!--End of all filters-->

<!--Component that displays all tasks, and on click opens a view-->
<app-task-viewer
  [tasks]="filteredTasks()"
  (taskClicked)="openTaskDetails($event)"
>
</app-task-viewer>
