<h2>Task List</h2>

<div class="filters">
  <label>
    Status:
    <select [(ngModel)]="filterStatus">
      <option value="">All</option>
      <option value="not-started">Not Started</option>
      <option value="in-progress">In Progress</option>
      <option value="completed">Completed</option>
    </select>
  </label>

  <label>
    Priority:
    <select [(ngModel)]="filterPriority">
      <option value="">All</option>
      <option value="low">Low</option>
      <option value="medium">Medium</option>
      <option value="high">High</option>
    </select>
  </label>

  <label>
    Task ID:
    <input type="number" class="filter-input" [(ngModel)]="filterTaskId" />
  </label>

  <label>
    Project ID:
    <input type="number" class="filter-input" [(ngModel)]="filterProjectId" />
  </label>

  <label>
    Title:
    <input type="text" [(ngModel)]="filterTitle" />
  </label>
  <button (click)="clearFilters()">Clear Filters</button>
</div>

<ul class="task-list">
  <ng-container *ngFor="let task of filteredTasks()">
    <li [class.completed]="task.status === 'completed'">
      <span class="projectId">{{ task.projectId }}</span>
      {{ task.title }}
      <span *ngIf="task.dueDate">
        - Due: {{ task.dueDate | date : "shortDate" }}
      </span>
      <span class="priority">[Priority: {{ task.priority }}]</span>
      <span class="status">[{{ task.status }}]</span>
    </li>
  </ng-container>
</ul>
