<!--type = task-->
<div *ngIf="type === 'task'">
  <form (ngSubmit)="onSubmit()" #formRef="ngForm">
    <label>Title</label>
    <input type="text" [(ngModel)]="title" name="title" />

    <label for="project">Select Project</label>
    <select [(ngModel)]="projectId" name="project">
      <option [ngValue]="null" disabled selected>Select a project</option>
      <option *ngFor="let project of projects" [value]="project.projectId">
        {{ project.name }}
      </option>
    </select>

    <label>Due Date:</label>
    <input type="date" [(ngModel)]="dueDate" name="dueDate" />

    <label>Priority</label>
    <select [(ngModel)]="priority" name="priority">
      <option value="low">Low</option>
      <option value="medium">Medium</option>
      <option value="high">High</option>
    </select>

    <label>Status</label>
    <select [(ngModel)]="status" name="status">
      <option value="not-started">Not Started</option>
      <option value="in-progress">In Progress</option>
      <option value="completed">Completed</option>
    </select>

    <label>Description</label>
    <input type="text" [(ngModel)]="description" name="description" />

    <!--button is disabled until the form is valid-->
    <button type="submit" [disabled]="formRef.invalid">Create Task</button>

    <div *ngIf="loading">Loading Projects...> {{ errorMessage }}</div>
  </form>

  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>
</div>
<!--type = project-->
<div *ngIf="type === 'project'">
  <form (ngSubmit)="onSubmit()" #formRef="ngForm">
    <label>Name:</label>
    <input type="text" [(ngModel)]="name" name="name" />

    <label>Description</label>
    <input type="text" [(ngModel)]="description" name="description" />

    <button type="submit" [disabled]="formRef.invalid">Create Project</button>
  </form>

  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>
</div>
