<!--The view that shows details on the task and project-->
<h2 mat-dialog-title>Task Details</h2>
<mat-dialog-content>
  <h3>
    <strong>Project:</strong>
    {{ project?.name || "Unknown Project" }}
  </h3>
  <p><strong>Task:</strong> {{ task.title }}</p>
  <p><strong>Description:</strong> {{ task.description }}</p>
  <p><strong>Status:</strong> {{ task.status }}</p>
  <p><strong>Priority:</strong> {{ task.priority }}</p>
  <p><strong>Due Date:</strong> {{ task.dueDate | date }}</p>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-flat-button (click)="editTask()">Edit</button>
  <button mat-flat-button (click)="deleteTask()">Delete</button>
  <button mat-flat-button (click)="closeDialog()">Close Window</button>
</mat-dialog-actions>
